kernel-registry-port: {{ local_daemon_kernel_registry_port }}
port: {{ local_daemon_port }}
provisioner-port: {{ gateway_provisioner_port }}
provisioner: "gateway:{{ gateway_provisioner_port }}"
hb-port: 9000
control-port: 9001
shell-port: 9002
stdin-port: 9003
iopub-port: 9004
iosub-port: 9005
ack-port: 9006
{% if distributed_notebook_remote_storage_type == 'hdfs' %}
remote-storage-endpoint: {{ hostvars['namenode'].ansible_default_ipv4.address | default(hostvars[inventory_hostname].ansible_all_ipv4_addresses[0]) }}:{{ hadoop_namenode_port }}
{% elif distributed_notebook_remote_storage_type == 'redis' %}
remote-storage-endpoint: redis:{{ redis_port }}
{% endif %}
remote-storage: {{ distributed_notebook_remote_storage_type }}
debug: {{ local_daemon_debug_logging_enabled }}
direct: false
node_name: 0
num-replicas: {{ distributed_notebook_num_replicas }}
max-subscribed-ratio: {{ distributed_notebook_max_subscribed_ratio }}
local-daemon-service-name: local-daemon-network
global-daemon-service-name: daemon-network
local-daemon-service-port: 8075
ipython-config-path: /home/jovyan/.ipython/profile_default/ipython_config.json
smr-port: {{ distributed_notebook_smr_port }}
kube-namespace: default
starting-resource-port: 9007
num-resource-ports: 4096
use-stateful-set: false
device-plugin-path: /var/lib/kubelet/device-plugins/
notebook-image-name: {{ distributed_notebook_kernel_docker_image_name }}
notebook-image-tag: {{ distributed_notebook_kernel_docker_image_tag }}
scheduler-http-port: 8078
scheduling-policy: {{ distributed_notebook_scheduling_policy }}
idle-session-reclamation-policy: {{ distributed_notebook_idle_session_reclamation_policy }}
subscribed-ratio-update-interval: {{ distributed_notebook_subscribed_ratio_update_interval }}
num-virtual-gpus-per-node: 72
scaling-factor: {{ distributed_notebook_subscribed_scaling_factor }}
scaling-interval: {{ distributed_notebook_subscribed_scaling_interval }}
scaling-limit: {{ distributed_notebook_subscribed_scaling_limit }}
scaling-in-limit: {{ distributed_notebook_subscribed_scaling_in_limit }}
predictive_autoscaling: {{ distributed_notebook_predictive_autoscaling_enabled }}
scaling-buffer-size: {{ distributed_notebook_scaling_buffer_size }}
min_cluster_nodes: 4
max_cluster_nodes: 32
gpus-per-host: {{ distributed_notebook_gpus_per_host }}
local_mode: false
deployment_mode: "docker-swarm"
debug_mode: {{ distributed_notebook_debug_mode }}
debug_port: {{ distributed_notebook_debug_port }}
docker-storage-base: "/storage"
using-wsl: false
prometheus_interval: {{ distributed_notebook_prometheus_interval }}
prometheus_port: {{ distributed_notebook_prometheus_port }}
num_resend_attempts: {{ distributed_notebook_num_resend_attempts }}
acks_enabled: {{ distributed_notebook_message_acknowledgements_enabled }}
simulate_checkpointing_latency: {{ distributed_notebook_simulate_checkpointing_latency }}
run_kernels_in_gdb: {{ distributed_notebook_run_kernels_in_gdb }}
docker_app_name: {{ distributed_notebook_docker_stack_name }}
election_timeout_seconds: {{ distributed_notebook_election_timeout_seconds }}
mean_scale_out_per_host_sec: {{ distributed_notebook_mean_scale_out_per_host_sec }}
std_dev_scale_out_per_host_sec: {{ distributed_notebook_std_dev_scale_out_per_host_sec }}
mean_scale_in_per_host_sec: {{ distributed_notebook_mean_scale_in_per_host_sec }}
std_dev_scale_in_per_host_sec: {{ distributed_notebook_std_dev_scale_in_per_host_sec }}
starting_resource_port: 9007
num_resource_ports: 4096
use_real_gpus: {{ distributed_notebook_use_real_gpus }}
bind_debugpy_port: {{ distributed_notebook_bind_debugpy_port }}
save_stopped_kernel_containers: {{ distributed_notebook_save_stopped_kernel_containers }}
s3_bucket: {{ distributed_notebook_s3_bucket }}
aws_region: {{ distributed_notebook_aws_region }}
redis_password: {{ redis_password }}
redis_port: {{ redis_port }}
redis_database: {{ redis_database }}
idle_session_reclamation_enabled: {{ distributed_notebook_idle_session_reclamation_enabled }}
idle_session_reclamation_interval_sec: {{ distributed_notebook_idle_session_reclamation_interval_sec }}
prewarming_enabled: {{ distributed_notebook_prewarming_enabled }}