services:
  jupyter:
    environment:
      - "DOCKER_NETWORK_NAME=distributed_cluster_default"
      - "USING_WSL2=0"
    image: {{ docker_username }}/jupyter-debug:latest
    command: start-notebook.sh --NotebookApp.token='' --log-level=DEBUG
    expose:
    - "8888"
    networks:
    - traefik-public
    depends_on:
      - gateway
    deploy:
      restart_policy:
        condition: any
      endpoint_mode: dnsrr
      labels:
        - "app=distributed_cluster"
        - "component=jupyter_server"
        - "logging=promtail"
        - "logging_jobname=jupyter"
        - "traefik.enable=true"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.services.jupyter.loadbalancer.server.port=8888"
        - "traefik.http.routers.jupyter.entrypoints=http"
        - "traefik.http.routers.jupyter.rule=Host(`{{ hostvars['swarm-leader'].ansible_host }}`) && PathPrefix(`/jupyter`)"
        - "traefik.http.routers.jupyter.service=jupyter"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  gateway:
    environment:
      - "DOCKER_NETWORK_NAME=distributed_cluster_default"
      - "USING_WSL2=0"
    image: {{ docker_username }}/gateway:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./gateway/gateway.yml:/gateway.yml
    networks:
    - traefik-public
    deploy:
      restart_policy:
        condition: any
      endpoint_mode: dnsrr
      labels:
        - "app=distributed_cluster"
        - "component=cluster_gateway"
        - "logging=promtail"
        - "logging_jobname=gateway"
        - "traefik.http.services.gateway.loadbalancer.server.port={{ distributed_notebook_debug_port }}"
    depends_on:
      - prometheus
    expose:
    - "{{ gateway_dashboard_grpc_port }}"
    - "{{ distributed_notebook_debug_port }}"
    - "{{ gateway_provisioner_port }}"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  daemon:
    environment:
      - "KERNEL_TEMP_BASE=/{{ kernel_base_directory }}"
      - "KERNEL_IMAGE={{ docker_username }}/jupyter-debug:latest"
      - "HOST_MOUNT_DIR=/home/{{ remote_username }}/{{ kernel_base_directory }}"
      - "TARGET_MOUNT_DIR=/{{ kernel_base_directory }}"
      - "STORAGE=/home/{{ remote_username }}/kernel_storage"
      - "DOCKER_NETWORK_NAME=distributed_cluster_default"
    image: {{ docker_username }}/daemon:latest
    networks:
    - traefik-public
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/{{ remote_username }}/kernel_base:/kernel_base
      - ./local_daemon/daemon.yml:/daemon.yml
    depends_on:
      - gateway
      - prometheus
    deploy:
      restart_policy:
        condition: any
      mode: global
      endpoint_mode: dnsrr
      labels:
        - "app=distributed_cluster"
        - "component=local_daemon"
        - "logging=promtail"
        - "logging_jobname=local_daemon"
        - "traefik.http.services.daemon.loadbalancer.server.port=8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  prometheus:
    expose:
    - "8500"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus/data
    networks:
    - traefik-public
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.listen-address=0.0.0.0:8500
    image: {{ prometheus_docker_image_name }}:{{ prometheus_docker_image_tag }}
    deploy:
      restart_policy:
        condition: on-failure
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.services.prometheus.loadbalancer.server.port=8500"
        - "traefik.http.routers.prometheus.entrypoints=http"
        - "traefik.http.routers.prometheus.rule=Host(`{{ hostvars['swarm-leader'].ansible_host }}`) && PathPrefix(`/prometheus`)"
        - "traefik.http.routers.prometheus.service=prometheus"
    user: 0:0
    extra_hosts:
      - "host.docker.internal:host-gateway"

  loki:
    image: {{ loki_docker_image_name }}:{{ loki_docker_image_tag }}
    command: -config.file=/etc/loki/loki-config.yaml
    networks:
    - traefik-public
    deploy:
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.services.loki.loadbalancer.server.port=8500"
        - "traefik.http.routers.loki.entrypoints=http"
        - "traefik.http.routers.loki.rule=Host(`{{ hostvars['swarm-leader'].ansible_host }}`) && PathPrefix(`/loki`)"
        - "traefik.http.routers.loki.service=loki"
    expose:
    - "3100"
    volumes:
      - loki_data:/loki
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml

  promtail:
    image: {{ promtail_docker_image_name }}:{{ promtail_docker_image_tag }}
    networks:
    - traefik-public
    volumes:
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail/config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    deploy:
      endpoint_mode: dnsrr
      labels:
        - "traefik.http.services.promtail.loadbalancer.server.port=9080"
    depends_on:
      - loki

  grafana:
    image: {{ grafana_docker_image_name }}:{{ grafana_docker_image_tag }}
    networks:
    - traefik-public
    expose:
    - "3000"
    environment:
      - "GF_SECURITY_ADMIN_USER={{ grafana_admin_username }}"
      - "GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}"
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - grafana_data:/var/lib/grafana
    deploy:
      restart_policy:
        condition: on-failure
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"
        - "traefik.http.routers.grafana.entrypoints=http"
        - "traefik.http.routers.grafana.rule=Host(`{{ hostvars['swarm-leader'].ansible_host }}`) && PathPrefix(`/grafana`)"
        - "traefik.http.routers.grafana.service=grafana"

  dashboard:
    image: scusemua/distributed-notebook-dashboard-backend:latest
    networks:
    - traefik-public
    expose:
    - "{{ dashboard_backend_server_port }}"
    environment:
    - "DASHBOARD_CONFIG_DIR={{ dashboard_backend_config_directory }}"
    deploy:
      restart_policy:
        condition: on-failure
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.services.dashboard.loadbalancer.server.port={{ dashboard_backend_server_port }}"
        - "traefik.http.routers.dashboard.entrypoints=http"
        - "traefik.http.routers.dashboard.rule=Host(`{{ hostvars['swarm-leader'].ansible_host }}`) && PathPrefix(`/dashboard`)"
        - "traefik.http.routers.dashboard.service=dashboard"
    volumes:
      - ./dashboard_backend/config-docker.yaml:{{ dashboard_backend_config_directory }}/dashboard.yaml
      - ./dashboard_backend/workload-presets-file.yaml:{{ dashboard_backend_config_directory }}/workload-presets-file.yaml
      - ./dashboard_backend/custom_event_sequences:{{ dashboard_backend_config_directory }}/custom_event_sequences

volumes:
  coredumps_volume:
  prometheus_data:
  grafana_data:
  loki_data:

networks:
  # Use the previously created public network "traefik-public", shared with other
  # services that need to be publicly available via this Traefik
  traefik-public:
    external: true