http_port = 3000

[security]
admin_user = scusemua
admin_password = grafana
allow_embedding = true

[auth.anonymous]
# enable anonymous access
enabled = true

# set to true if you host Grafana behind HTTPS. default is false.
cookie_secure = true

# set cookie SameSite attribute. defaults to `lax`. can be set to "lax", "strict" and "none"
cookie_samesite = none

# Role for unauthenticated users, other valid values are `Editor` and `Admin`
org_role = Viewer

[auth.basic]
enabled = false

[server]
# This configuration is based on the documentation available at the link below:
# https://grafana.com/tutorials/run-grafana-behind-a-proxy/
domain = "{{ hostvars['swarm-leader'].ansible_host }}"
http_port = 3000
serve_from_sub_path = true
root_url = "{{ hostvars['swarm-leader'].ansible_host }}/grafana"
router_logging = true