- name: 1 Session 1 Training
  key: test_1_session_1_training.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training.svg