- name: 1 Session 1 Training
  key: test_1_session_1_training.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training.svg
- name: 1 Session 1 Training 10Min
  key: test_1_session_1_training_10min.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training_10min.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training_10min.svg
- name: 1 Session 1 Training Long
  key: test_1_session_1_training_long.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training_long.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_1_training_long.svg
- name: 1 Session 2 8Tick Training 16Sec Idle Inbetween
  key: test_1_session_2_8tick_training_16sec_idle_inbetween.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_2_8tick_training_16sec_idle_inbetween.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_2_8tick_training_16sec_idle_inbetween.svg
- name: 1 Session 3 Trainings
  key: test_1_session_3_trainings.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_3_trainings.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_3_trainings.svg
- name: 1 Session No Training
  key: test_1_session_no_training.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_no_training.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_no_training.svg
- name: 1 Session Short
  key: test_1_session_short.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_short.xml
  svg_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_short.svg
- name: 1 Session Training 8 Ticks
  key: test_1_session_training_8_ticks.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1_session_training_8_ticks.xml
- name: 1Session Five 4-Tick Trainings 4Tick Gaps
  key: test_1session_five_4-tick_trainings_4tick_gaps.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1session_five_4-tick_trainings_4tick_gaps.xml
- name: 1Session Six 4-Tick Trainings 4Tick Gaps
  key: test_1session_six_4-tick_trainings_4tick_gaps.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_1session_six_4-tick_trainings_4tick_gaps.xml
- name: 2 Sessions 1 Training Each
  key: test_2_sessions_1_training_each.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_2_sessions_1_training_each.xml
- name: 3 Sessions 1 Training Each
  key: test_3_sessions_1_training_each.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_3_sessions_1_training_each.xml
- name: 3 Sessions One Training
  key: test_3_sessions_one_training.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_3_sessions_one_training.xml
- name: 3 Sessions One Training Short
  key: test_3_sessions_one_training_short.xml
  description: This is a custom-made XML test preset.
  preset_type: XML
  xml_file: {{ dashboard_backend_config_directory }}/custom_event_sequences/test_3_sessions_one_training_short.xml