version: '3.8'
services:
  jupyter:
    environment:
      - DOCKER_NETWORK_NAME=distributed_cluster_default # If you change the name of the docker compose app, then you must change this as well.
      - USING_WSL2=1
    image: {{ docker_username }}/jupyter-debug:python3.12.6
    labels:
      app: "distributed_cluster"
      component: "jupyter_server"
      logging: "promtail"
      logging_jobname: "local_daemon"
    command: start-notebook.sh --NotebookApp.token='' --log-level=DEBUG
    ports:
      - "8888:8888"
    depends_on:
      - gateway
    deploy:
      restart_policy:
        condition: any
    extra_hosts:
      - "host.docker.internal:host-gateway"

  gateway:
    environment:
      - DOCKER_NETWORK_NAME=distributed_cluster_default # If you change the name of the docker compose app, then you must change this as well.
      - USING_WSL2=1
    image: {{ docker_username }}/gateway:latest
    labels:
      app: "distributed_cluster"
      component: "cluster_gateway"
      logging: "promtail"
      logging_jobname: "local_daemon"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./gateway/gateway.yml:/gateway.yml
    deploy:
      restart_policy:
        condition: any
    depends_on:
      - prometheus
    ports:
      - "8079:8079"
      - "9996:9996"
      - "8081:8081"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  daemon:
    environment:
      - KERNEL_TEMP_BASE=/{{ kernel_base_directory }}
      - KERNEL_IMAGE={{ docker_username }}/jupyter-debug:latest
      - HOST_MOUNT_DIR=/home/{{ remote_username }}/{{ kernel_base_directory }}
      - TARGET_MOUNT_DIR=/{{ kernel_base_directory }}
      - STORAGE=/home/{{ remote_username }}/kernel_storage
      - DOCKER_NETWORK_NAME=distributed_cluster_default # If you change the name of the docker compose app, then you must change this as well.
    image: {{ docker_username }}/daemon:latest
    labels:
      app: "distributed_cluster"
      component: "local_daemon"
      logging: "promtail"
      logging_jobname: "local_daemon"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/{{ remote_username }}/kernel_base:/kernel_base
      - ./local_daemon/daemon.yml:/daemon.yml
    depends_on:
      - gateway
      - prometheus
    deploy:
      restart_policy:
        condition: any
      mode: global
    extra_hosts:
      - "host.docker.internal:host-gateway"

  prometheus:
    ports:
      - "8500:8500"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus/data
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.listen-address=0.0.0.0:8500
    image: {{ prometheus_docker_image_name }}:{{ prometheus_docker_image_tag }}
    deploy:
      restart_policy:
        condition: on-failure
    user: 0:0
    extra_hosts:
      - "host.docker.internal:host-gateway"

  loki:
    image: {{ loki_docker_image_name }}:{{ loki_docker_image_tag }}
    command: -config.file=/etc/loki/loki-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml

  promtail:
    image: {{ promtail_docker_image_name }}:{{ promtail_docker_image_tag }}
    volumes:
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail/config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: {{ grafana_docker_image_name }}:{{ grafana_docker_image_tag }}
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER={{ grafana_admin_username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - grafana_data:/var/lib/grafana
    deploy:
      restart_policy:
        condition: on-failure

  dashboard_backend:
    image: scusemua/distributed-notebook-dashboard-backend:latest
    ports: 9000
    deploy:
      restart_policy:
        condition: on-failure

  dashboard_frontend:
    image: scusemua/distributed-notebook-dashboard-frontend:latest
    ports: 8001
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  coredumps_volume:
  prometheus_data:
  grafana_data:
  loki_data: