jupyter_client>=7.4
traitlets>=5.1
grpcio>=1.64
protobuf>=5.27.1
grpcio-tools
pybindgen>=0.22.1
ansible
ansible_runner
torch
typing_extensions
debugpy
aiohttp>=3.11.11
fabric
jsonpatch
ipykernel>=6.29.5
prometheus-client>=0.20.0
jupyter_server>=2.14.2
jupyter
requests
docker
jsondiff
numpy
redis
boto3
omegaconf
torchmetrics
python-Levenshtein
wget
sox
librosa
torchdata==0.9.0
transformers
datasets
portalocker>=2.0.0
torchaudio
torchvision
aioboto3
